p{
	margin:2em 0 2em 0;
	padding:0 45px;
}
h2{
	padding:0 45px;
}

 header.home{
 	background-image:url(../images/alaska-bw.jpg);
 	background-size:cover;
 	background-position:center; 
 	height:55vh;

 	display:flex;
 	align-items:center;
 	justify-content:center;
 }

 h1.home{
 	font-size:5em;
 	color:white
 }
 body.homebody{
 	text-align: left;
 	margin-top: 50px;
 }

/*Sections*/
section.homegrid{
	display:flex;
	flex-direction:row;
}

section.homegrid:nth-child(odd){
	flex-direction:row-reverse;
}

section.homegrid div{
	width: 50%;

}

section.homegrid div.text{
	padding:0px;
}

section.homegrid div.fullimg{
	height:50vh;

	background-image:url(../images/sillyme.jpeg);
	background-size: cover;
	background-position: center;

	position:sticky;
	position:-webkit-sticky;
	top:70px;
}

section.homegrid div.img1{
	background-image:url(../images/projects.png);
}
/*section.homegrid div.img2{
	background-image:url(../images/projects.png);
}*/

section.homegrid div.img3{
	background-image:url(../images/projects.png);
}
section.homegrid div.img4{
	background-image:url(../images/sillyme.jpeg);
}

@media (max-width:800px){
	body{
		font-size:16px;
	}
	h2{
		font-size:32px;
	}

	header{
		height:75vw;

	}
	section.homegrid{
		display:block;
	}

	section.homegrid div{
		width:100%;
	}

	section.homegrid div.text{
		padding:30px;
		width:90%;
	}

	section.homegrid div.fullimg{
		/*height:100vw;*/
		height:100vw;
	}



}