html, body{
	width:100%;
	height:100%;
	margin:0;
}

.nav{
	border-bottom: 1px solid #EAEAEB;
	text-align:right;
	height:70px;
	line-height:70px;
	background-color: black;
	position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
	width:100%;
	z-index: 1000;

}

.menu {
	margin:0 30px 0 0;
}

.menu a{
	text-decoration: none;
	color:aquamarine;
	margin: 0 10px;
	line-height: 70px;
	font-family:sans-serif;
	clear:right;
}

.nav img{
	height:70px;
	float: left;
	margin-left: 30px;
}

label{
	margin:0 40px 0 0;
	font-size: 40px;
	line-height: 70px;
	display:none;
	width: 40px;
	float: right;
}

#toggle{
	display:none;
}

.menu a:hover {
  color: orange; 
}

.menu a.active{
    color:white;
    font-weight:bold;
    font-family:sans-serif;
}

@media only screen and (max-width: 750px){
	label{
		display:block;
		cursor:pointer;
	}
	.menu{
		text-align: center;
		width:100%;
		display:none;
	}

	.menu a{
		display: block;
		border-bottom: 1px solid #EAEAEB;
		margin:0;
		background-color: black;
	}
	#toggle:checked + .menu{
		display:block;
	}
}


/***************************************** 
HEADER ORIGINAL
*****************************************/

/*header {
	background-color:black;
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:60px;
	z-index:2;
}

header *{
	/*display:inline;
	display:inline-block;

main{
	margin-top:100px;
}
}*/


/*header img{
	height: 50px;
	
}*/




/***************************************** 
NAVIGATION ORIGINAL
*****************************************/

/**
nav li{
	margin: auto 35px;
	text-align:center;
}

nav li a {
    color: aquamarine;
    text-decoration: none;
    font-weight: bold;
}

 Active Link
nav ul li.active a{
    color:white;
    font-weight:bold;
    font-family:sans-serif;
}

nav ul li a:hover {
  color: orange; 
  font-weight: bold;
}

**/

/***************************************** 
General
*****************************************/


body{
	
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 70px;
	font-family:sans-serif;
	text-align: center;
}



h1{
	text-align: center;
	color:aquamarine;
}

h2{
	font-size: 1.5em;
}

/***************************************** 
PAGE: INDEX 
*****************************************/
.introBlock {
	/* Edit Size */
	width:100vw;
	/* how much of vw / wh -- view window to cover*/
	height:90vh;

	/*Box adjustments*/
	display:flex;
	justify-content: center;
	align-items: center;

	/* Text Align */
	text-align: center;

	/* Background */
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/homepage-mountains.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.innerIntroBlock{
	margin-top:70px;
}

.introBlock h1{
	font-size: 7em;
	margin: 0 auto;
	color:aquamarine;
}

.introBlock	h2{
	font-size: 2em;
	color:gray;
}

.introBlock	.title{
	color:white;
}

/***************************************** 
PAGE: HOME
*****************************************/
.box1 {
	/* Edit Size */
	width:100%;
	/* how much of vw / wh -- view window to cover*/
	padding-top:10%;
	padding-bottom:10%;

	/*Box adjustments*/
	display:flex;
	justify-content: center;
	align-items: center;

	/* Text Align */
	text-align: center;

	/* Background */
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/alaska-bw.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.box1 h1{
	font-size: 4em;
	margin: 0 auto;
	color:white;
}

.box2{
}


/***************************************** 
PAGE: ABOUT
*****************************************/
/*.profile-photo{
  display:block;
  max-width:325px;
  margin:0 auto 30px;
  border-radius: 100%;
}*/

.part1 img{
  display:block;
  max-width:325px;
  margin:0 auto 30px;
  border-radius: 100%;
}

/*.passion {
	background-color: aquamarine;
	height:300px;
	padding-top: 1px;
}*/

.passion img{
	max-width:500px;
	width:17vw;
}
div.passion {
	padding-bottom: 20px;
	background-color: aquamarine;
	display: block;
	overflow: auto;
}
.aboutme h2{
	margin-bottom:0;
	font-family: 'Oswald', sans-serif;
	text-align:center; 

}

.aboutme p{

	font-size:.85em;
	font-family: 'Cardo', serif;
}

.aboutme h3{
	font-family: 'Amatic SC', cursive;
	text-transform: uppercase;
	font-size: 2.5em;
	font-weight: 300;
}

.whyText p{
	text-align: left;
	padding:0 30px;

}
p.aboutmedesc{
	font-style: italic;
	text-align: center;
}


div.whyText{
	display:block;
	overflow:auto;
	width: 75%;

}


div.whyImage{
	width:25vh;

	background-image:url(../images/pixelheartcode.png);
	background-size: cover;
	background-position: center;

	width:25%;
}

div.whyCoding{
	display:flex;
	flex-direction:row;
}



/*div.mybackground{
	width:100vw;

	background-image:url(../images/GreyWood.jpg);
	background-size: cover;
	background-position: center;

	padding:5px;

}

.mybackground img{
	height:40vh;
}*/
.backstorytxt p{
	text-align: left;
	padding:0 30px;

}


div.backstorytxt{
	display:block;
	overflow:auto;
	width: 60%;
	background-color: aquamarine;
}


div.backgroundimg{
	width:40vh;

	background-image:url(../images/GreyWood.jpg);
	background-size: cover;
	background-position: center;

	width:40%;
}
.mybackground img{
	max-width:100%;
	max-height:100%;
}

div.mybackground{
	display:flex;
	flex-direction:row-reverse;
}
div.learnmore{
	background-color: aquamarine;
}

.learnmore div{
	/*display: inline-block;*/
	padding:10px;
}

@media only screen and (max-width: 750px){
	div.passion img{
		width:25vw;
	}
	div.whyCoding, div.mybackground{
		display:block;
		overflow: auto;
	}
	div.whyImage{
		width:100%;
		height:45vw;
	}
	div.backgroundimg{
		width:100%;
	}
	div.whyText, div.backstorytxt{
		padding:30px;
		width:90%;
	}
	embed{
		width:90vw;
	}


}


/***************************************** 
PAGE: CHALLENGE MAIN
*****************************************/
.challengeBlock img{
	width:600px;
	display: block;
    margin: 0 auto;
}

.entrylist ul{
	text-align:left;
}

/***************************************** 
PAGE: CHALLENGE ENTRIES
*****************************************/
 .challengeenty body{
 	background-color:#e4e4e4;
 	}
 .entries {

 	text-align:left;
 	margin-left:50px;
 	margin-top:100px;
 }

 .entries h1{
 	color:black;
 }

/***************************************** 
FOOTER
*****************************************/
footer{
  font-size: .5em;
  text-align: center;
  clear:both;
  padding-top:15px;
/*  flex:0 0 auto;*/
}

footer img{
  max-width:30px;
  width:7%
  margin:0;
}


/***************************************** 
COLORS
*****************************************/
body{
  background-color: #F9F9F9;
}

/***************************************** 
PROJECT 2
*****************************************/



input[type='submit'] {
	width: 175px;
	color: black ;
	padding: 1px;
	border: 2px solid white;
	border-radius: 2px;
	background-color: orange;

}

input[type='submit']:focus {outline:0;}

.welcome input[type='submit'] {
	width: 200px;
	color: black ;
	padding: 1px;
	border: 2px solid gray;
	border-radius: 2px;
	background-color: magenta;

}
.project2 {
	background-color: black;
}

.project2 p{
	color:white;
	font-weight: bold;
}

/***************************************** 
PROJECT 3 - Hangman
*****************************************/

.triggerButton input[type='submit'] {
	width: 35vw;
	font-size: 2.5em;
	color: beige ;
	padding: 1px;
	border: 2px solid black;
	border-radius: 3px;
	background-color: blue;

}

/***************************************** 
PROJECT 4 - Tic Tac Toe
*****************************************/


table { 
  border-collapse: collapse; 
  border-spacing: 0; 
}

#board { 
  padding: 0px; 
  margin: 0 auto; 
  margin-top: 50px; 
}

#board tr td { 
  width: 80px; 
  height: 80px; 
  border: 1px solid #1c1c1c; 
  font-family: Helvetica; 
  font-size: 30px; 
  text-align: center; 
}

#board tr td:hover { 
  background: gray; 
  cursor: pointer; 
}

/***************************************** 
PROJECT 6 - To Do List
*****************************************/

body.project6{
	background-color: gray;
	padding:15px 0px;/*remove built in padding*/
}

#toDoItem{
	width:45vw;
}

#toDoSubmit{
	width:15vw;
	border:none;
	font-weight: bold;
}

ul.taskUL{
	text-align: center;
	font-size: 15px;
	padding:0px;
}

.taskUL li{
	border: solid 1px aquamarine;
	width:  60%;
	margin:10px auto;
	height:30px;
	line-height: 30px;
	list-style: none;
	background-color: black;
	color:white;
	border-radius: 5px;
	font-weight: bold;
	text-transform: capitalize;

}


.taskUL li>button{
	float:right;
	line-height: 30px;
	border:none;
	background: none;
	color:orange;
	font-weight: bolder;
}

.taskUL li .checkBtn{
	float:left;
}

@media screen and (min-width: 750px){
	.taskUL li:hover{
		background-color:aquamarine;
		color:black;
	}
	
	.taskUL li .checkBtn:hover{
		color:#58e311;
	}

	.taskUL li .doneBtn:hover{
		color:#e3115b;
	}
}

.remove{
	display:none;
}

li.completed{
	background-color: green;
}

.taskUL button:focus {outline:0;}

.removeInstructions{
	color:#e3115b;
	margin: 0px 0px 20px;
}
.doneInstructions{
	color:green;
	margin:0px;
}

/***************************************** 
PROJECT 7 - Yatzeeeee
*****************************************/
body.project7 {
  background-color: gray;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  /*vertical-align: center;*/
  flex-wrap: wrap;
  align-content: center;
  font-family: 'Open Sans', sans-serif;
}

.face {
  margin: 15px;
  padding: 4px;
  
  background-color: #eae6e6;
  width: 10vw;
  height: 10vw;
  object-fit: contain;
  
  box-shadow:
    inset 0 5px white, 
    inset 0 -5px #bbb,
    inset 5px 0 #d7d7d7, 
    inset -5px 0 #d7d7d7;
  
  border-radius: 10%;
  display:inline-block;
  cursor:pointer;
}

.face span{
  line-height: 10vw;
  font-weight: bolder;
  font-size: 2em;
}

.hold{
	background-color: red;
}



@media only screen and (max-width: 750px){
	.face {
	  margin: 2px;
	  padding: 4px;	
	}


}