/***************************************** 
HEADER ORIGINAL
*****************************************/

header {
	background-color:black;
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:60px;
	z-index:2;
}

header *{
	/*display:inline;*/
	display:inline-block;

}


header img{
	height: 60px;
	margin-left:30px;
}

main{
	margin-top:100px;
}

/***************************************** 
NAVIGATION ORIGINAL
*****************************************/


nav li{
	margin: auto 35px;
	/*margin: 35px;*/
	text-align:center;
}

nav li a {
    color: aquamarine;
    text-decoration: none;
    font-weight: bold;
}

/* Active Link*/
nav ul li.active a{
    color:white;
    font-weight:bold;
    font-family:sans-serif;
}

/* Hovered Link*/
nav ul li a:hover {
  color: orange; 
  font-weight: bold;
}


/***************************************** 
General
*****************************************/


body{
	margin-top:60px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	font-family:sans-serif;
	text-align: center;

/*	display:flex;
	flex-direction: column;
	 height: 100%;*/
}



h1{
	text-align: center;
	color:aquamarine;
}

h2{
	font-size: 1.5em;
}

/***************************************** 
PAGE: INDEX 
*****************************************/
.introBlock {
	/* Edit Size */
	width:100vw;
	/* how much of vw / wh -- view window to cover*/
	height:90vh;

	/*Box adjustments*/
	display:flex;
	justify-content: center;
	align-items: center;

	/* Text Align */
	text-align: center;

	/* Background */
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/homepage-mountains.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.introBlock h1{
	font-size: 7em;
	margin: 0 auto;
	color:aquamarine;
}

.introBlock	h2{
	font-size: 2em;
	color:gray;
}

.introBlock	.title{
	color:white;
}

/***************************************** 
PAGE: HOME
*****************************************/
.box1 {
	/* Edit Size */
	width:100%;
	/* how much of vw / wh -- view window to cover*/
	padding-top:10%;
	padding-bottom:10%;

	/*Box adjustments*/
	display:flex;
	justify-content: center;
	align-items: center;

	/* Text Align */
	text-align: center;

	/* Background */
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/alaska-bw.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.box1 h1{
	font-size: 4em;
	margin: 0 auto;
	color:white;
}

.box2{
}


/***************************************** 
PAGE: ABOUT
*****************************************/
/*.profile-photo{
  display:block;
  max-width:325px;
  margin:0 auto 30px;
  border-radius: 100%;
}*/

.part1 img{
  display:block;
  max-width:325px;
  margin:0 auto 30px;
  border-radius: 100%;
}

.passion {
	background-color: aquamarine;
	height:300px;
	padding-top: 1px;
}

.passion img{
	max-width:500px;
	width:17%;
}

.passion h2, .photography h2{
	margin-bottom:0;
}

.passion p, .photography p{
	margin-top:0;
	font-style: italic;
	font-size:.75em;
}


/***************************************** 
PAGE: CHALLENGE MAIN
*****************************************/
.challengeBlock img{
	width:600px;
	display: block;
    margin: 0 auto;
}

.entrylist ul{
	text-align:left;
}

/***************************************** 
PAGE: CHALLENGE ENTRIES
*****************************************/
 .challengeenty body{
 	background-color:#e4e4e4;
 	}
 .entries {

 	text-align:left;
 	margin-left:50px;
 	margin-top:100px;
 }

 .entries h1{
 	color:black;
 }

/***************************************** 
FOOTER
*****************************************/
footer{
  font-size: .5em;
  text-align: center;
  clear:both;
  padding-top:15px;
/*  flex:0 0 auto;*/
}

footer img{
  max-width:30px;
  width:7%
  margin:0;
}


/***************************************** 
COLORS
*****************************************/
body{
  background: #F9F9F9;
}

/***************************************** 
PROJECT 2
*****************************************/



input[type='submit'] {
	width: 175px;
	color: black ;
	padding: 1px;
	border: 2px solid white;
	border-radius: 2px;
	background-color: orange;

}

.welcome input[type='submit'] {
	width: 200px;
	color: black ;
	padding: 1px;
	border: 2px solid gray;
	border-radius: 2px;
	background-color: magenta;

}
.project2 {
	background-color: black;
}

.project2 p{
	color:white;
	font-weight: bold;
}

/***************************************** 
PROJECT 3
*****************************************/

.triggerButton input[type='submit'] {
	width: 35vw;
	font-size: 2.5em;
	color: beige ;
	padding: 1px;
	border: 2px solid black;
	border-radius: 3px;
	background-color: blue;

}
